body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#colorPalette {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.colorBox {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 4px;
}
